doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/stylemusic.css')
    script(src="/javascripts/timbre.js")
  body
    header
      div.container
        h1 Hello
    main
      div.container
        div#play Click Me
        
    script(src='/javascripts/app.js')